@charset "utf-8";
body{padding:0px;margin:0px;font-size:12px;text-align:left;line-height:150%;color:#404040;font-family:"宋体";}
dl,dt,dd,ul,li,ol{list-style:none;margin:0px;padding:0px;}
img{border:0;-ms-interpolation-mode: bicubic;/*IE7图片失真修复*/}
i,em,dfn{font-style:normal;}
dfn{font-family:Arial;}
form,p,h1,h2,h3,h4,h5{padding:0px;margin:0px;}
input[type=button],input[type=submit],button[type=button]{border:none}
input,select,option{font-size:12px;}
textarea{font-size:12px;}
noscript{display:none;}
.clear{clear:both;}
.raise,.green{color:#008000}
.fixed,.black{color:#F90}
.down,.red{color:#C00}
.spanclass{display:none}
.inputBox{border:1px solid #c2c2c2; height:16px; line-height:16px; font-size:12px}
.clearfix{zoom:1;}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;}

/*默认*/
a,a:link{color:#00529B;;text-decoration:none;}
a:hover,a:hover.blue,a:hover.red,a:hover.grey,a:hover.org,.ulPic .iPrice a:hover,.green:hover,red:hover,black:hover{color:#F60;text-decoration:underline;}
a img {border:none;}

.imgborder:link,.imgborder:visited{border:#d6d6d6 1px solid; display:block;}
.imgborder:hover{border:1px solid #999;}

.blue,a:link.blue{color:#05319a;text-decoration:none;}
.blues,a:link.blues{color:#0041D9;text-decoration:none;}
.red,a:link.red{color:#C00;text-decoration:none;}
.grey,a:link.grey{color:#777;text-decoration:none;}
.greys,a:link.greys{color:#5C5C5C;text-decoration:none;}
.org,a:link.org{color:#F60;text-decoration:none;}
.gre,a:link.gre{color:#4E9100;text-decoration:none;}


.main{width:950px; padding:0; margin:0 auto; background:#fff}
.main .group{width:950px; overflow:hidden}
.header{width:950px; padding:0; margin:0 auto; background:#fff}
.footer{ width:950px; border-top:1px solid #e6e6e6; padding-top:16px; margin:12px auto 5px auto;}
.footer div{ line-height:18px; margin-top:5px; text-align:center; }
.footer a:link,.footer a:visited{text-decoration:none;color:#444444;}
.footer a:active,.footer a:hover{text-decoration:underline;color:#fe7302;}

.commBox{margin:0 0 10px 0;}
.commBox5{margin:0 0 5px 0;}
.commBoxEnd{margin:0;}

/*框架*/
.p1_left{float:left;width:280px;margin-right:10px}/*首页*/
.p1_center{float:left;width:430px; margin-right:10px}
.p1_right{float:right;width:220px;z-index:5}

.p2_left{float:left;width:280px;margin-right:10px}/*球场首页*/
.p2_right{float:right;width:660px;z-index:5}

.p2_right_l {float:left;width:470px;margin-right:10px}
.p2_right_r {float:right;;width:180px;z-index:5;}

.p3_left{float:left;width:200px;margin-right:10px}/*球场列表页*/
.p3_right{float:right;width:740px;z-index:5}

.p4_left{float:left;width:720px;margin-right:10px}/*旅游首页*/
.p4_right{float:right;width:220px;z-index:5}

.p5_left{float:left;width:550px;margin-right:0px}/*旅游定制*/
.p5_right{float:right;width:390px;z-index:5}


/*三栏*/
.col3left{float:left;width:200px;margin-right:10px}/*首页*/
.col3center{float:left;width:500px;margin-right:10px}
.col3right{float:right;width:230px;z-index:5}

/*数字截取*/
.cut170,.cut170 li {width:156px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.cut180,.cut180 li {width:178px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cut180 p a {width:113px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.cut190,.cut190 li {width:188px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cut190 p a {width:123px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.cut200,.cut200 li {width:198px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cut200 p a {width:133px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.cut260,.cut260 li {width:258px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cut260 p a {width:193px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*宽度固定*/
.wid718 {width:718px;overflow:hidden;}
.wid738 {width:738px;overflow:hidden;}
.wid948 {width:948px;overflow:hidden;}


/*现在位置*/
.guide{line-height:30px; padding:0 10px 0 0; clear:both}
.guide .now{width:auto; overflow:hidden; float:left; display:inline}
.guide .now i{float:left; padding:0 5px 0 0}
.guide .now .icon{width:10px; height:30px; float:left; background:url(../global/ugolfbg.png) -293px -20px no-repeat;}
.guide .copy{width:auto; float:right}
.guide .copy .icon{width:20px; height:30px; float:left; background:url(../global/index.png) no-repeat -450px -99px}
.guide h1{font-size:12px; float:left; padding:0 0 0 5px; font-weight:lighter}


/*城市选择*/
.cut_over{display:block;width:106px;cursor:pointer;font-size:12px;background:url(../global/listdot.gif) no-repeat 84px -103px}
#cut_over #citymenu{display:none}
#cut_over.hover #citymenu,#cut_over:hover #citymenu{display:block}
#citymenu{display:none;position:absolute;border:1px solid #999999;background:#FFF;width:182px;padding:5px;}
#citymenu a{line-height:20px;padding:0 6px}
#citymenu .more{float:right;padding-right:24px;background:url(../global/listdot.gif) no-repeat 56px -45px;cursor:pointer}

/*热*/
.topnav li span.tag {position:absolute;top:-7px;right:-5px;display:block;text-indent:-999em;}
.topnav li.current span.tag {top:-4px;}
.dotnew { background: url('../global/alltag.png') no-repeat -55px -70px;  width: 16px; height: 16px; }
.dothot { background: url('../global/alltag.png') no-repeat -55px -100px;  width: 16px; height: 16px; }
.dotnotice { background: url('../global/alltag.png') no-repeat -88px -98px;  width: 32px; height: 19px; }
.spanhot{top:0px;left:0px;width:45px;height:45px;position:absolute;background:url(../global/alltag.png) no-repeat -500px 0px;text-indent:-9999px;}


.prorecommend{top:10px;right:15px;width:50px;height:64px;position:absolute;background-image:url(../global/recommend2.gif);background-repeat:no-repeat;text-indent:-9999px;}


/*浏览记录*/
.listvisited {display:block;}
.listvisited img {width:50px;height:50px;margin:0 4px;margin-bottom:10px; }

/*分页*/
div.pagenum{font-size:12px;line-height:18px;height:22px;padding-top:5px;}div.pagenum strong{float:left;padding:1px 6px;font-weight:bold;color:#f60;margin:0 5px;color:#FD6D01;background:#FFEDE1;font-weight:bold;font-size: 12px;border:1px solid #f60;}div.pagenum a{float:left;border:1px solid #ccc;padding:1px 6px;text-decoration:none;margin:0 2px;}div.pagenum a:hover{float:left;border:1px solid #f60;padding:1px 6px;text-decoration:none;margin:0 2px;}.pagenum{padding:1px 0 0 0;float:right;}

/*声明*/
.infoBox .boxBody{border:1px solid #dbdbdb; padding:10px 20px; line-height:18px}
.infoBox{margin:0; padding:0 0 10px}
.infoBox a {margin:0 15px 0 0;}

/*地区选取css部分*/
.fleft, .fcenter, .f_left { float: left; }
.fright, .f_right { float: right; }
.link01 a:link, .link01 a { color: #195CB5; text-decoration: none; }
.link01 a:visited { text-decoration: none; color: #195CB5; }
.link01 a:hover { text-decoration: none; color: #ff6000; }
.link01 a:active { text-decoration: none; color: #195CB5; }
.choose_frame {
	TEXT-ALIGN: left; WIDTH: 372px; FLOAT: left; CLEAR: both
}
.choose_frame .list_head {
	BORDER-BOTTOM: #d7d7d7 1px dashed; PADDING-LEFT: 5px; WIDTH: 367px; HEIGHT: 27px
}
.choose_frame .list_head .fleft LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; WIDTH: 65px; FLOAT: left; HEIGHT: 27px; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.choose_frame .list_head .fcenter {
	LINE-HEIGHT: 27px; PADDING-LEFT: 10px
}
.choose_frame .list_head .fright {
	PADDING-RIGHT: 10px; PADDING-TOP: 7px
}
.city_sugg {
	LINE-HEIGHT: 22px; WIDTH: 372px; FLOAT: left; CLEAR: both
}
.city_sugg LI {
	PADDING-LEFT: 10px; WHITE-SPACE: nowrap; FLOAT: left
}
.liWidth50 LI {
	WIDTH: 50px
}
.more_city {
	PADDING-BOTTOM: 5px; PADDING-RIGHT: 12px; FLOAT: right
}
.search_li01 {
	BACKGROUND: url(../global/bj_01.gif) no-repeat 0px 2px
}
.search_li02 {
	BACKGROUND: url(../global/bj_02.gif) no-repeat 0px 2px; FONT-WEIGHT: bold
}
.city_list2 {
	BORDER-BOTTOM: #d7d7d7 1px dashed; LINE-HEIGHT: 27px; WIDTH: 372px; HEIGHT: 27px
}
.city_list2 LI {
	PADDING-LEFT: 7px; FLOAT: left
}
.city_list2 A:hover {
	COLOR: #ff6000; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#getplatform {
	BORDER-BOTTOM: #f3f3f3 1px solid; POSITION: absolute; BORDER-LEFT: #f3f3f3 1px solid; LIST-STYLE-TYPE: none; BACKGROUND: #fcfcfc; VISIBILITY: hidden; COLOR: #f3f3f3; BORDER-TOP: #f3f3f3 1px solid; CURSOR: pointer; BORDER-RIGHT: #f3f3f3 1px solid
}
.parent_css {
	POSITION: relative; TOP: 0px
}
.suggest-container {
	Z-INDEX: 99999; WIDTH: 171px; BACKGROUND: white; FLOAT: left
}
.suggest-container .ds_input_tips {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; COLOR: #666666
}
.suggest-container .ds_input_tips_no {
	BACKGROUND-COLOR: #ff8040; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 161px; _width: 165px
}
.suggest-container .ds_input_tips_one {
	BORDER-BOTTOM: #aaaaaa 1px dashed; MARGIN: 0px 5px; PADDING-LEFT: 5px; WIDTH: 160px
}
.suggest-container .ds_input_tips_full {
	BORDER-BOTTOM: #aaaaaa 1px dashed; MARGIN: 0px 5px; PADDING-LEFT: 5px; WIDTH: 160px
}
.suggest-container OL {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; WIDTH: 165px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 2px
}
.suggest-container LI {
	BORDER-BOTTOM: #ffffff 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #0055aa; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; PADDING-TOP: 1px
}
.suggest-container DL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 2px; WIDTH: 95%; PADDING-RIGHT: 2px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.suggest-container DT {
	LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; WIDTH: 99%; FLOAT: left; COLOR: #414141; FONT-SIZE: 12px; LIST-STYLE-IMAGE: none
}
.suggest-container DD {
	LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; WIDTH: 99%; FLOAT: left; COLOR: #414141; FONT-SIZE: 12px; LIST-STYLE-IMAGE: none
}
.suggest-container .top_mover {
	BORDER-BOTTOM: #7f9db9 1px solid; BACKGROUND: #e7f1fd; COLOR: #0055aa; BORDER-TOP: #7f9db9 1px solid; CURSOR: pointer
}
.suggest-container .top_mout {
	BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND: #ffffff; COLOR: #0055aa; BORDER-TOP: #ffffff 1px solid
}
.suggest-container .ds_selected {
	BACKGROUND: #c8e3fc; COLOR: #0055aa; CURSOR: pointer
}
.suggest-container .ds_selected SPAN {
	COLOR: #0055aa; CURSOR: pointer
}
.suggest-container .suggest-result {
	TEXT-ALIGN: right; PADDING-RIGHT: 5px; WHITE-SPACE: nowrap; FLOAT: right; COLOR: #0055aa; CURSOR: pointer
}
.suggest-container .suggest-key {
	TEXT-ALIGN: left; PADDING-LEFT: 5px; FLOAT: left
}
.suggest-container LI {
	ZOOM: 1; CLEAR: both; OVERFLOW: hidden
}
.suggest-bottom {
	ZOOM: 1; CLEAR: both; OVERFLOW: hidden
}
.suggest-shim {
	Z-INDEX: 99998
}
.suggest-bottom {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.suggest-close-btn {
	FLOAT: right
}
#getplatform {
	BORDER-BOTTOM: #f3f3f3 1px solid; POSITION: absolute; BORDER-LEFT: #f3f3f3 1px solid; LIST-STYLE-TYPE: none; BACKGROUND: #fcfcfc; VISIBILITY: hidden; COLOR: #f3f3f3; BORDER-TOP: #f3f3f3 1px solid; CURSOR: pointer; BORDER-RIGHT: #f3f3f3 1px solid
}
.top_hint {
	PADDING-LEFT: 6px; WIDTH: 200px; BORDER-COLLAPSE: collapse; BACKGROUND: #ffffff; COLOR: #656565; FONT-SIZE: 12px
}
.top_mout {
	PADDING-LEFT: 6px; WIDTH: 200px; BORDER-COLLAPSE: collapse; BACKGROUND: #ffffff; COLOR: #0055aa; FONT-SIZE: 12px
}
.top_mover {
	LINE-HEIGHT: 120%; PADDING-LEFT: 6px; WIDTH: 200px; BACKGROUND: #e7f1fd; COLOR: #0055aa; FONT-SIZE: 12px; CURSOR: pointer
}
.top_selected {
	WIDTH: 200px; BACKGROUND: #c8e3fc; COLOR: #0055aa; FONT-SIZE: 12px; CURSOR: pointer
}
.top_tdleft {
	PADDING-LEFT: 6px; FONT-SIZE: 12px
}
.top_tdright {
	PADDING-RIGHT: 4px
}
.color333 {
	COLOR: #333
}
.fontVerdana {
	FONT-FAMILY: Verdana, "宋体", Arial, Sans
}

.unshow {
	DISPLAY: none
}


/*出错提示*/
.errTips { padding:30px 20px 50px; background:url(../global/iconno.gif) no-repeat  50px 40px; font-size:14px; line-height:25px; font-weight:700; color:#333; font-family:Tahoma, Geneva, sans-serif }
.errTips span { font-size:16px; color:#cc0000 }
.errTips p { padding:0 0 0 100px }
.errTips em{ font-size:12px; font-weight:normal} 