* HTML #password .tab {
	OVERFLOW: hidden
}
#password .item {
	LINE-HEIGHT: 26px; HEIGHT: 50px; PADDING-TOP: 5px
}
#password .item A:link {
	TEXT-DECORATION: underline
}
#password .item A:visited {
	TEXT-DECORATION: underline
}
#password .label {
	TEXT-ALIGN: right; WIDTH: 140px; FONT-SIZE: 14px
}
#password .text {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; WIDTH: 240px; PADDING-RIGHT: 3px; FONT-FAMILY: arial,"ו"; HEIGHT: 16px; FONT-SIZE: 14px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 4px
}
#password .text-1 {
	WIDTH: 100px
}
#password .blank {
	MARGIN: 2px 5px 0px; WIDTH: 16px; HEIGHT: 16px
}
#password .img IMG {
	MARGIN: 0px 5px; HEIGHT: 26px
}
#password .succeed {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat -105px 0px
}
#password .highlight1 {
	BORDER-BOTTOM: #ffcc66 2px solid; BORDER-LEFT: #ffcc66 2px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffdc97; PADDING-LEFT: 2px; OUTLINE-WIDTH: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ffcc66 2px solid; BORDER-RIGHT: #ffcc66 2px solid; PADDING-TOP: 3px
}
#password .highlight2 {
	BORDER-BOTTOM: #f00 1px solid; BORDER-LEFT: #f00 1px solid; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffc1c1; OUTLINE-WIDTH: 1px; COLOR: #f00; BORDER-TOP: #f00 1px solid; BORDER-RIGHT: #f00 1px solid
}
#password .pwdbg {
	BACKGROUND: #fff8eb
}
#password .focus {
	LINE-HEIGHT: 20px; COLOR: #999
}
#password .null {
	LINE-HEIGHT: 20px; COLOR: red
}
#password .error {
	LINE-HEIGHT: 20px; COLOR: red
}
#password .checkbox {
	MARGIN-TOP: 2px
}
#password #referrer {
	COLOR: #999; FONT-SIZE: 12px
}
#pwdstrength {
	LINE-HEIGHT: 22px; PADDING-RIGHT: 10px; COLOR: #999
}
#pwdstrength B {
	MARGIN-TOP: 3px; WIDTH: 104px; FLOAT: left; HEIGHT: 13px; OVERFLOW: hidden
}
.strengthA B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px 0px
}
.strengthB B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px -13px
}
.strengthC B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px -26px
}
