#regist .mt {
	BACKGROUND: url(i/tit_regist.jpg) repeat-x 0px -34px; HEIGHT: 33px
}
#regist .mt H2 {
	LINE-HEIGHT: 33px; PADDING-LEFT: 15px; BACKGROUND: url(i/tit_regist.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: 33px
}
#regist .mt SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 33px; FLOAT: right; HEIGHT: 33px
}
#regist .mt B {
	WIDTH: 10px; BACKGROUND: url(i/tit_regist.jpg) no-repeat 0px -68px; FLOAT: right; HEIGHT: 33px
}
#regist .mc {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP: #d1d1d1 0px solid; BORDER-RIGHT: #d1d1d1 1px solid; PADDING-TOP: 15px
}
#regist .tab {
	BORDER-BOTTOM: #ffcc66 1px solid; PADDING-LEFT: 300px; MARGIN-BOTTOM: 25px; HEIGHT: 29px; OVERFLOW: visible
}
#regist .tab LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 27px; WIDTH: 102px; HEIGHT: 27px; COLOR: #f79100; FONT-SIZE: 14px; PADDING-TOP: 3px
}
#regist .tab .curr {
	Z-INDEX: 10; POSITION: relative; BACKGROUND: url(i/bg_regist.jpg) no-repeat 0px -83px; COLOR: #a0410a; FONT-WEIGHT: bold
}
#regist .tab .line {
	BACKGROUND: url(i/bg_shortcut_line.jpg) no-repeat right 7px
}
#regist .tab A:link {
	LINE-HEIGHT: 23px; MARGIN: 0px auto; WIDTH: 74px; DISPLAY: block; HEIGHT: 23px; OVERFLOW: hidden
}
#regist .tab A:visited {
	LINE-HEIGHT: 23px; MARGIN: 0px auto; WIDTH: 74px; DISPLAY: block; HEIGHT: 23px; OVERFLOW: hidden
}
#regist .tab A:hover {
	BACKGROUND: url(i/bg_regist.jpg) no-repeat -167px 0px; COLOR: #fff; TEXT-DECORATION: none
}
#regist .tab A:active {
	BACKGROUND: url(i/bg_regist.jpg) no-repeat -167px 0px; COLOR: #fff; TEXT-DECORATION: none
}
* HTML #regist .tab {
	OVERFLOW: hidden
}
#regist .item {
	LINE-HEIGHT: 26px; HEIGHT: 50px; PADDING-TOP: 5px
}
#regist .item A:link {
	TEXT-DECORATION: underline
}
#regist .item A:visited {
	TEXT-DECORATION: underline
}
#regist .label {
	TEXT-ALIGN: right; WIDTH: 300px; FONT-SIZE: 14px
}
#regist .text {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 3px; WIDTH: 240px; PADDING-RIGHT: 3px; FONT-FAMILY: arial,"ו"; HEIGHT: 16px; FONT-SIZE: 14px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 4px
}
#regist .text-1 {
	WIDTH: 100px
}
#regist .blank {
	MARGIN: 2px 5px 0px; WIDTH: 16px; HEIGHT: 16px
}
#regist .img IMG {
	MARGIN: 0px 5px; HEIGHT: 26px
}
#regist .succeed {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat -105px 0px
}
#regist .highlight1 {
	BORDER-BOTTOM: #ffcc66 2px solid; BORDER-LEFT: #ffcc66 2px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffdc97; PADDING-LEFT: 2px; OUTLINE-WIDTH: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ffcc66 2px solid; BORDER-RIGHT: #ffcc66 2px solid; PADDING-TOP: 3px
}
#regist .highlight2 {
	BORDER-BOTTOM: #f00 1px solid; BORDER-LEFT: #f00 1px solid; OUTLINE-STYLE: solid; OUTLINE-COLOR: #ffc1c1; OUTLINE-WIDTH: 1px; COLOR: #f00; BORDER-TOP: #f00 1px solid; BORDER-RIGHT: #f00 1px solid
}
#regist .pwdbg {
	BACKGROUND: #fff8eb
}
#regist .focus {
	LINE-HEIGHT: 20px; COLOR: #999
}
#regist .null {
	LINE-HEIGHT: 20px; COLOR: red
}
#regist .error {
	LINE-HEIGHT: 20px; COLOR: red
}
#regist .checkbox {
	MARGIN-TOP: 2px
}
#regist #referrer {
	COLOR: #999; FONT-SIZE: 12px
}
#pwdstrength {
	LINE-HEIGHT: 22px; PADDING-RIGHT: 10px; COLOR: #999
}
#pwdstrength B {
	MARGIN-TOP: 3px; WIDTH: 104px; FLOAT: left; HEIGHT: 13px; OVERFLOW: hidden
}
.strengthA B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px 0px
}
.strengthB B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px -13px
}
.strengthC B {
	BACKGROUND: url(i/pwdstrength.gif) no-repeat 0px -26px
}
#protocol-con {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 8px; OVERFLOW-Y: scroll; MARGIN: 0px auto; PADDING-LEFT: 8px; WIDTH: 600px; PADDING-RIGHT: 8px; HEIGHT: 80px; COLOR: #666; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 8px
}
.step{width:96%;margin-bottom:20px; overflow:hidden; text-align: center; margin-left: 8px;}
.step li,.step li span{background-image:url('../global/bg-step.png');background-repeat:no-repeat;text-align:center;}
.step li{width:207px;height:29px;line-height:29px;padding-left:20px;float:left;overflow:hidden;text-align:center;position:relative;background-position:right -108px;border:none;color:#605F5F;}
.step li span{width:100%;font-size:14px;line-height:27px;line-height:29px;display:block;position:absolute;left:-17px;background-position:0 -108px;text-indent:17px;}
.step li.finished{background-position:-4px -108px;}
.step li.finished span{left:0;background-position:0 -108px;}
.step li.current{height:29px;background-position:right -51px;border:none;}
.step li.current span{background-position:17px -51px;font-weight:bold;color:#AB4400;}
.step li.last{border-right:1px #DBDBDB solid;background-position:right -406px;}
.step li.last span{background:none;left:0;}
.step li.last-current{height:29px;background-position:right -166px;border:none;border-right:1px solid #ffab0a;}
.step li.last-current span{background-position:15px -166px;font-weight:bold;color:#AB4400;left:-15px;}
.step-two li{width:434px;}
.step-three li{width:268px;}
.step-five li{width:140px;}
.step-one{background:#fff;padding:1px;border:1px solid #dbdbdb;display:block;height:81px;position:relative;overflow:visible;font-size:14px;}
.step-one h2{position:absolute;left:-1px;top:-1px;height:85px;width:210px;background:transparent url('../golbal/bg-step.png') repeat-x 0 -210px;color:#ab4400;text-align:center;line-height:85px;}
.step-one .step-explain{background:transparent url('../global/bg-step.png') repeat-x 0 -310px;height:81px;line-height:81px;padding-left:230px;}