<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ugolfcn" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>emtsos</display-name>
	
	<context-param>
		<param-name>imagePath</param-name>
		<param-value>http://images.an.cn</param-value>
	</context-param>
  <listener>
    <listener-class>com.web.service.ServiceInit</listener-class>
  </listener>
	<listener>
		<listener-class>com.web.listener.ContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>confReloadCheckInterval</param-name>
			<param-value>60</param-value>
		</init-param>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>INFO</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>scWeixinSh</servlet-name>
		<servlet-class>com.web.servlet.ScWeixinShServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scWeixinSh</servlet-name>
		<url-pattern>/scWeixinSh.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scWeixin</servlet-name>
		<servlet-class>com.web.servlet.ScWeixinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scWeixin</servlet-name>
		<url-pattern>/scWeixin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.web.servlet.WebIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>join</servlet-name>
		<servlet-class>com.web.servlet.WebJoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/join.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>apply</servlet-name>
		<servlet-class>com.web.servlet.WebApplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apply</servlet-name>
		<url-pattern>/apply.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>applySubmit</servlet-name>
		<servlet-class>com.web.servlet.WebApplySubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>applySubmit</servlet-name>
		<url-pattern>/applySubmit.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>news</servlet-name>
		<servlet-class>com.web.servlet.WebNewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>news</servlet-name>
		<url-pattern>/news.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>aboutus</servlet-name>
		<servlet-class>com.web.servlet.WebAboutusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aboutus</servlet-name>
		<url-pattern>/aboutus.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emApp</servlet-name>
		<servlet-class>com.web.servlet.EmAppApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emApp</servlet-name>
		<url-pattern>/emApp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>wxPayNotify</servlet-name>
		<servlet-class>com.web.servlet.EmWxPayNotifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wxPayNotify</servlet-name>
		<url-pattern>/wxPayNotify.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.web.servlet.admin.EmIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emAdmin</servlet-name>
		<servlet-class>com.web.servlet.admin.EmAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emAdmin</servlet-name>
		<url-pattern>/emAdmin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emAuthority</servlet-name>
		<servlet-class>com.web.servlet.admin.EmAuthorityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emAuthority</servlet-name>
		<url-pattern>/emAuthority.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emCarType</servlet-name>
		<servlet-class>com.web.servlet.admin.EmCarTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emCarType</servlet-name>
		<url-pattern>/emCarType.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emCouponCode</servlet-name>
		<servlet-class>com.web.servlet.admin.EmCouponCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emCouponCode</servlet-name>
		<url-pattern>/emCouponCode.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emCoupon</servlet-name>
		<servlet-class>com.web.servlet.admin.EmCouponServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emCoupon</servlet-name>
		<url-pattern>/emCoupon.do</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet>
		<servlet-name>emCompany</servlet-name>
		<servlet-class>com.web.servlet.admin.EmCompanyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emCompany</servlet-name>
		<url-pattern>/emCompany.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emCompany1</servlet-name>
		<servlet-class>com.web.servlet.admin.EmCompany1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emCompany1</servlet-name>
		<url-pattern>/emCompany1.do</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>emDoctor</servlet-name>
		<servlet-class>com.web.servlet.admin.EmDoctorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emDoctor</servlet-name>
		<url-pattern>/emDoctor.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emDoctorType</servlet-name>
		<servlet-class>com.web.servlet.admin.EmDoctorTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emDoctorType</servlet-name>
		<url-pattern>/emDoctorType.do</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet>
		<servlet-name>emHospital</servlet-name>
		<servlet-class>com.web.servlet.admin.EmHospitalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emHospital</servlet-name>
		<url-pattern>/emHospital.do</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>emInformation</servlet-name>
		<servlet-class>com.web.servlet.admin.EmInformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emInformation</servlet-name>
		<url-pattern>/emInformation.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emMessageMan</servlet-name>
		<servlet-class>com.web.servlet.admin.EmMessageManServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emMessageMan</servlet-name>
		<url-pattern>/emMessageMan.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emNews</servlet-name>
		<servlet-class>com.web.servlet.admin.EmNewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emNews</servlet-name>
		<url-pattern>/emNews.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emNotice</servlet-name>
		<servlet-class>com.web.servlet.admin.EmNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emNotice</servlet-name>
		<url-pattern>/emNotice.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emOrderItem</servlet-name>
		<servlet-class>com.web.servlet.admin.EmOrderItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emOrderItem</servlet-name>
		<url-pattern>/emOrderItem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emOrder</servlet-name>
		<servlet-class>com.web.servlet.admin.EmOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emOrder</servlet-name>
		<url-pattern>/emOrder.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emOrderStatus</servlet-name>
		<servlet-class>com.web.servlet.admin.EmOrderStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emOrderStatus</servlet-name>
		<url-pattern>/emOrderStatus.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emOrderType</servlet-name>
		<servlet-class>com.web.servlet.admin.EmOrderTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emOrderType</servlet-name>
		<url-pattern>/emOrderType.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emPackType</servlet-name>
		<servlet-class>com.web.servlet.admin.EmPackTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emPackType</servlet-name>
		<url-pattern>/emPackType.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emProduct</servlet-name>
		<servlet-class>com.web.servlet.admin.EmProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emProduct</servlet-name>
		<url-pattern>/emProduct.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emServiceOptionType</servlet-name>
		<servlet-class>com.web.servlet.admin.EmServiceOptionTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emServiceOptionType</servlet-name>
		<url-pattern>/emServiceOptionType.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emSpecialty</servlet-name>
		<servlet-class>com.web.servlet.admin.EmSpecialtyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emSpecialty</servlet-name>
		<url-pattern>/emSpecialty.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emTransType</servlet-name>
		<servlet-class>com.web.servlet.admin.EmTransTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emTransType</servlet-name>
		<url-pattern>/emTransType.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emUnionLink</servlet-name>
		<servlet-class>com.web.servlet.admin.EmUnionLinkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emUnionLink</servlet-name>
		<url-pattern>/emUnionLink.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emUser</servlet-name>
		<servlet-class>com.web.servlet.admin.EmUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emUser</servlet-name>
		<url-pattern>/emUser.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scPhoto</servlet-name>
		<servlet-class>com.web.servlet.ScFileuploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scPhoto</servlet-name>
		<url-pattern>/scPhoto.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scUserPhoto</servlet-name>
		<servlet-class>com.web.servlet.ScUserFileuploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scUserPhoto</servlet-name>
		<url-pattern>/scUserPhoto.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scSysParam</servlet-name>
		<servlet-class>com.web.servlet.ScSysParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scSysParam</servlet-name>
		<url-pattern>/scSysParam.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scSysParam2</servlet-name>
		<servlet-class>com.web.servlet.ScSysParam2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scSysParam2</servlet-name>
		<url-pattern>/scSysParam2.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scAuthority</servlet-name>
		<servlet-class>com.web.servlet.ScAuthorityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scAuthority</servlet-name>
		<url-pattern>/scAuthority.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scReport</servlet-name>
		<servlet-class>com.web.servlet.ScReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scReport</servlet-name>
		<url-pattern>/scReport.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scApply</servlet-name>
		<servlet-class>com.web.servlet.ScApplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scApply</servlet-name>
		<url-pattern>/scApply.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>emApplicantCompany</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmApplicantCompanyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emApplicantCompany</servlet-name>
		<url-pattern>/emApplicantCompany.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emArea</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmAreaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emArea</servlet-name>
		<url-pattern>/emArea.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emAttachedTo</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmAttachedToServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emAttachedTo</servlet-name>
		<url-pattern>/emAttachedTo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emClaimArchive</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmClaimArchiveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emClaimArchive</servlet-name>
		<url-pattern>/emClaimArchive.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emClaimImage</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmClaimImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emClaimImage</servlet-name>
		<url-pattern>/emClaimImage.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emClaim</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmClaimServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emClaim</servlet-name>
		<url-pattern>/emClaim.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emClaim2</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmClaimServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emClaim2</servlet-name>
		<url-pattern>/emClaim2.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emClaimSettlement</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmClaimSettlementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emClaimSettlement</servlet-name>
		<url-pattern>/emClaimSettlement.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emAdjustment</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmAdjustmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emAdjustment</servlet-name>
		<url-pattern>/emAdjustment.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emFee</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmFeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emFee</servlet-name>
		<url-pattern>/emFee.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emClaimInfo</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmClaimInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emClaimInfo</servlet-name>
		<url-pattern>/emClaimInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emCompany</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmCompanyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emCompany</servlet-name>
		<url-pattern>/emCompany.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emDereason</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmDereasonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emDereason</servlet-name>
		<url-pattern>/emDereason.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emDetermine</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmDetermineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emDetermine</servlet-name>
		<url-pattern>/emDetermine.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emDisease</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmDiseaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emDisease</servlet-name>
		<url-pattern>/emDisease.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emGroupInsurancePolicy</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmGroupInsurancePolicyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emGroupInsurancePolicy</servlet-name>
		<url-pattern>/emGroupInsurancePolicy.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emHospital</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmHospitalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emHospital</servlet-name>
		<url-pattern>/emHospital.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emInsuranceGroup</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmInsuranceGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emInsuranceGroup</servlet-name>
		<url-pattern>/emInsuranceGroup.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emInsurance</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmInsuranceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emInsurance</servlet-name>
		<url-pattern>/emInsurance.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emInsured</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmInsuredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emInsured</servlet-name>
		<url-pattern>/emInsured.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emInsurerCompany</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmInsurerCompanyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emInsurerCompany</servlet-name>
		<url-pattern>/emInsurerCompany.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emInsurerPolicy</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmInsurerPolicyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emInsurerPolicy</servlet-name>
		<url-pattern>/emInsurerPolicy.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emPolicy</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmPolicyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emPolicy</servlet-name>
		<url-pattern>/emPolicy.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emReceipt</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmReceiptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emReceipt</servlet-name>
		<url-pattern>/emReceipt.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emSysParam</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmSysParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emSysParam</servlet-name>
		<url-pattern>/emSysParam.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emSyslog</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmSyslogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emSyslog</servlet-name>
		<url-pattern>/emSyslog.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emSyslogtype</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmSyslogtypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emSyslogtype</servlet-name>
		<url-pattern>/emSyslogtype.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emData</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emData</servlet-name>
		<url-pattern>/emData.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emDataExport</servlet-name>
		<servlet-class>com.insure.servlet.admin.EmDataExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emDataExport</servlet-name>
		<url-pattern>/emDataExport.do</url-pattern>
	</servlet-mapping>
	
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/404.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/UTIL</taglib-uri>
			<taglib-location>/WEB-INF/util.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/dict</taglib-uri>
			<taglib-location>/WEB-INF/dict_tag.tld</taglib-location>
		</taglib>
	</jsp-config>
	

	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
